html {
  min-width: max-content;
  background-color: #181818;
  color: #f7f7f7;
  font-family: sans-serif;
}

.telescope-table {
  border: none;
  width: 100%;
  border-spacing: 0;
  font-size: 15px;
}
.telescope-table thead th {
  /* background-color: #ddefef; */
  /* border: solid 1px #8a8a8a; */
  padding: 3px;
  text-align: left;
}
.telescope-table .table-header {
  background-color: #871b3d;
  font-weight: bold;
  text-align: center;
}

.telescope-table tbody td {
  border: solid 1px #363636;
  padding: 6px;
}
.telescope-table-highlight-all {
  overflow: hidden;
  z-index: 1;
}
.telescope-table-highlight-all tbody td,
.telescope-table-highlight-all thead th {
  position: relative;
}
